body {
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.primary-button {
  font-size: 2em;
  font-weight: bold;
}
